@import './loginForm';

.log-container{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 32px;
}

.titleLog1{
    color: white;
    text-align: center;
    margin-top: 5%;
    margin-bottom: 2%;
    font-size: large;
}

.titleLog2{
    color: white;
    text-align: center;
    margin-top: 8%;
    margin-bottom: 2%;
    font-size: large;
}