.search-container {
    width: 100%;
    max-height: 100%;
    overflow-y: overlay;



    .searchBar {
        display: flex;
        margin: 3%;

        #icon {
            padding: 1%;
            width: 3.5%;
            background: $main-gradient;
            transition: .1s ease-in;
            cursor: pointer;
            border-radius: 10px;
            overflow: hidden;
            margin-left: 1%;

            &:hover {
                background: $main-gradient-hover;
            }
        }

        #searchBar {
            width: 40%;
            font-style: italic;
            border: none;
            border-radius: 10px;
            overflow: hidden;
            padding: 1%;
        }
    }

}

.search-container::-webkit-scrollbar {
    width: 7px;
}

/* Track */
.search-container::-webkit-scrollbar-track {
    background: $main-color;
}

/* Handle */
.search-container::-webkit-scrollbar-thumb {
    background: $main-gradient;
    border-radius: 10px;
}

/* Handle on hover */
.search-container::-webkit-scrollbar-thumb:hover {
    background: $main-gradient-hover;
}