.search-container {
    width: 100%;
    max-width: 570px;
    max-height: 100%;
    overflow-y: overlay;

    .searchBar {
        display: flex;
        margin-top: 3%;

        #icon {
            padding: 1%;
            width: 3.5%;
            background: $main-gradient;
            transition: .1s ease-in;
            cursor: pointer;
            border-radius: 10px;
            overflow: hidden;
            margin-left: 1%;

            &:hover {
                background: $main-gradient-hover;
            }
        }

        #searchBar {
            width: 40%;
            font-style: italic;
            border: none;
            border-radius: 10px;
            overflow: hidden;
            padding: 1%;
        }
    }

}