.histo {
    .selectDay {
        background: none;
        border: 1px solid $color-bonus-1;
        height: 1.7rem;
        padding: 0 8px 0 8px;
        box-sizing: border-box;
        border-radius: 4px;
        margin-right: 2%;
        color: white;
    }

    option {
        color: black;
      }
}