.page {
    width: 100%;
    max-height: 100%;
    overflow-y: auto;
    overflow-x: hidden;

    .infosDetails {
        display: flex;
        justify-content: space-between;
        color: white;
        background-color: $second-color;
        border-radius: 16px;
        height: 170px;
        margin: 3%;
        width: 88%;
        padding: 3%;

        .infosRestos {
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            .nom {
                font-size: x-large;
                color: $color-bonus-1;
                margin-bottom: 2%;
            }
        }

        img {
            width: 200px;
            margin: 1%;
        }
    }

    .affluence {
        color: white;
        background-color: $second-color;
        border-radius: 16px;
        height: 290px;
        margin: 3%;
        width: 88%;
        padding: 3%;

        .titre {
            font-size: x-large;
            color: $color-bonus-1;
            margin-bottom: 2%;
        }
    }

    .errorAffluence{
        text-align: center;
        margin-top: 25%;
    }

    .inputHeures{
        color: white;
        background-color: $second-color;
        border-radius: 16px;
        height: 180px;
        margin: 3%;
        width: 88%;
        padding: 3%;

        .titre {
            font-size: x-large;
            color: $color-bonus-1;
            margin-bottom: 2%;
        }
    }

    .connect{
       text-align: center;
       margin-top: 16%;
    }
}

.page::-webkit-scrollbar {
    width: 7px;
}

/* Track */
.page::-webkit-scrollbar-track {
    background: $main-color;
    
}

/* Handle */
.page::-webkit-scrollbar-thumb {
    background: $main-gradient;
    border-radius: 10px;
}

/* Handle on hover */
.page::-webkit-scrollbar-thumb:hover {
    background: $main-gradient-hover;
}